@model News
 @using Site.Helper
<div class="trending-top mb-30">
    <div class="trend-top-img">
        <img style="width:770px;height:410.656px" src="@Model.ImageAddress" alt="">
        <div class="trend-top-cap">
            <span>@Model.Title</span>

            <h2>          
                @Html.RouteLink(Model.Description.Substring(0,(int)FixValue.DescriptionLength), "news", new { type =(int)NewsType.News/* CultureHelper.EnumLocalize(Enum.GetName(typeof(NewsType), 1),Thread.CurrentThread.CurrentUICulture)*/
, cattegory = Model.Subcategory.Title, newscattegory = Model.NewsSubCategory.NewsCategory.Title, id = Model.Title })
              
            </h2>
        </div>
    </div>
</div>
