@model List<Model.Comment>
    <div class="comments-area">
        <h4> عدد پیام @Model.Count   </h4>
        @foreach (var item in Model)
        {
            <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                        <div class="thumb">
                            <img src="~/WebSiteContent/assets/img/comment/comment_1.png" alt="">
                        </div>
                        <div class="desc">
                            <p class="comment">
                                @item.Description
                            </p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h5>
                                        <a href="#">@item.Name</a>
                                    </h5>
                                    <p class="date">@item.CreatedDate </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
